create table public.invitations (
  id uuid primary key default gen_random_uuid(),
  email text not null unique,
  token uuid not null default gen_random_uuid(),
  prefilled_data jsonb default '{}'::jsonb,
  expires_at timestamptz not null default now() + interval '7 days',
  created_at timestamptz not null default now()
);

alter table public.invitations enable row level security;

create policy "Admins can manage invitations"
on public.invitations for all
to authenticated
using (
  exists (
    select 1 from public.profiles
    where id = auth.uid() and role = 'admin'
  )
);

create policy "Public can read invitation by token"
on public.invitations for select
to anon, authenticated
using (true); -- Zabezpieczeniem jest znajomosc 36-znakowego tokenu (uuid)

